.mainPageWrapper {
  /* flex: 1; */
  /* flex-direction: "row"; */
  /* display: flex; */
}
.mainPageSideBar {
  /* flex: 1; */
  min-width: 100px;
  background-color: bisque;
}
.mainContentWrapper {
  flex: 10;
  flex-direction: column;
  margin-left: 160px;
  background-color: #fff;
}
.mainContent {
  margin-top: 70px;
}
